@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  li {
    list-style: none;
  }
}
html {
  font-size: 10px;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

main {
  background-image: url(../images/mobile-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}
