.members {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 2.3rem;
  margin-top: 4rem;
  max-width: 22rem;
  .member-card {
    position: relative;
    img {
      max-width: 22rem;
    }
    .member-text {
      position: absolute;
      top: 10rem;
      left: 2rem;
      color: #fff;
      h4 {
        font-family: "Raleway", sans-serif;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2.6rem;
      }
      h5 {
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4rem;
      }
    }
  }
}
